<div class="customer-dashboard">
    <header class="dashboard-header">
        <h1>Customer Dashboard</h1>
        <p>Place an order by freelivery and start your journey with us!</p>
    </header>

    <div class="dashboard-cards">
        <mat-card>
            <mat-card-header>
                <div class="card-icon">
                    <i class="fa-solid fa-store"></i>
                </div>
                <mat-card-title> Browse Restaurants</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>Browse restaurants and explore delicious dishes</p>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-flat-button
                    class="navigate-button"
                    routerLink="/customer/restaurants"
                >
                    <i class="fa-solid fa-arrow-right"></i>
                    Browse Restaurants
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <div class="card-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <mat-card-title> Your Cart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Checkout items, modify your order, and procees to payment</p>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-flat-button
                    class="navigate-button"
                    routerLink="/customer/cart"
                >
                    <i class="fa-solid fa-arrow-right"></i>
                    View cart items
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <div class="card-icon">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <mat-card-title> Track Orders</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Track your order in real time!</p>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-flat-button
                    class="navigate-button"
                    (click)="navigateToTracking()"
                >
                    <i class="fa-solid fa-arrow-right"></i>
                    Track Your Orders
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <div class="card-icon">
                    <i class="fa-solid fa-comment"></i>
                </div>
                <mat-card-title> Feedback</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Tell us more about your experience and help us improve our
                    service
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-flat-button
                    class="navigate-button"
                    routerLink="/customer/feedback"
                >
                    <i class="fa-solid fa-arrow-right"></i>
                    Send us your feedback
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
