.reset-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #fafafa;
}

mat-card-header {
    justify-content: center;
    font-weight: bold;
}

mat-card-title {
    font-size: 1.75rem;
}

mat-card {
    width: 100%;
    max-width: 380px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 10px;
}

.reset-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.reset-form p {
    margin-bottom: 16px;
    color: var(--muted-text);
}

.reset-form button {
    background-color: var(--primary-c);
    border: var(--border-c) 2px solid;
    border-radius: 12px;
}

.reset-form button:hover {
    background-color: var(--border-c);
    color: white;
}

.reset-form button:disabled {
    background-color: lightgray;
    border: none;
    cursor: not-allowed;
}

mat-error {
    color: var(--warning-red);
}

mat-card-footer {
    text-align: center;
    padding: 8px 16px;
}

.success-message {
    padding: 16px;
    text-align: center;
    color: #666;
}
