mat-dialog-content {
    min-width: 400px;
}

@media (max-width: 640px) {
    mat-dialog-content {
        min-width: unset;
        width: 85vw;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.full-width {
    width: 100%;
}
