h2 {
    font-weight: bold !important;
    font-size: 1.25rem !important;
}

mat-dialog-content {
    min-width: 400px;
    padding-top: 1.5rem !important;
}

@media (max-width: 640px) {
    mat-dialog-content {
        min-width: unset;
        width: 85vw;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

input,
textarea {
    padding-left: 0.5rem;
}

mat-form-field {
    width: 100%;
}

.cancel-button {
    background-color: var(--button-secondary);
    border: #d1d5db 2px solid;
    border-radius: 12px;
}

.cancel-button:hover {
    background-color: var(--button-secondary-hover);
    border-radius: 12px;
}

.submit-button {
    background-color: var(--button-primary);
    border: var(--border-c) 2px solid;
    border-radius: 12px;
}

.submit-button:hover {
    background-color: var(--button-primary-hover);
    color: white;
}
